<div class="bg">
  <div class="col-md-9 m-auto">
    <div class="card card-body mt-5">
      <h2>¿Cuánto necesitas?</h2>
      <form class="form-inline">
        <label class="mr-2">Monto</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input type="number" class="form-control" id="inlineFormInputGroupUsername2" placeholder="70.000">
        </div>

        <label class="mr-2">Plazo de pago</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Tres días">

        <button type="submit" class="btn btn-primary mb-2">Continuar</button>
      </form>
    </div>
</div>
